/* EXTERNAL CSS */

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  line-height: 1.5;
  padding: 2rem;
  background: #ffffff;
  color: #111;
}

/* ---------------------------------------------------- */
/* Estilo para header por Kev */

/* Header */
.header-container {
  background: #252525;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #4da8ff; /* Azul claro para hover en modo oscuro */
}

/* ----------------------------------------------------------- */

main {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0.25rem 0;
  font-size: 1.6rem;
}

.lead {
  margin: 0 0 1.25rem 0;
  color: #444;
}

.example {
  background: #f9f9fb;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.rendered {
  margin: 0.75rem 0;
}

pre.code {
  background: #f4f4f4;
  padding: 0.75rem;
  overflow: auto;
  border-radius: 4px;
}

.help {
  font-size: 0.9rem;
  color: #333;
}

.external-box {
  margin: auto;
  padding: 20px;
  border: 8px solid greenyellow;
}

