/* EXTERNAL CSS */

header {
  background-color: #c9c2c1; /* Color del fondo del encabezado */
  color: #1818dd; /* Título del encabezado de color azul */
  padding: 0.5rem;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  font-size: 0.85rem; /* Tamaño de fuente */
  letter-spacing: 1px;  /* Espaciado entre letras */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  line-height: 1.5;
  padding: 2rem;
  background: #ffffff;
  color: #111;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0.25rem 0;
  font-size: 1.6rem;
}

.lead {
  margin: 0 0 1.25rem 0;
  color: #444;
}

.example {
  background: #f9f9fb;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.rendered {
  margin: 0.75rem 0;
}

pre.code {
  background: #f4f4f4;
  padding: 0.75rem;
  overflow: auto;
  border-radius: 4px;
}

.help {
  font-size: 0.9rem;
  color: #333;
}

.external-box {
  margin: auto;
  padding: 20px;
  border: 8px solid greenyellow;
}

footer {
  background-color: #c9c2c1; /* Fondo Gris */
  color: #2e0cf0; /* Color del texto */
  padding: 0.5rem;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  font-size: 0.85rem;  /* Tamaño de fuente */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px; /* Espaciado entre letras */
}
